:root {
	--primary-background:#212026;
	--primary-hover-background:#2e2d35;
	--secondary-color:#0bceae;
	--text-color:#fff;
	--nav-text-color:var(--text-color);
  --thumbnail-radius: .5rem;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
body {
  background-color: var(--primary-background);
  color: var(--text-color);
}
.wrapper {
  width: 100%;
}
.cursor-pointer {
  cursor: pointer;
}
.hr {
  border-bottom: 1px solid #ccc;
  margin: 1rem 2rem;
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.mt-1 {
  margin-top: .5rem;
}

.nav {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 .5rem;
}

.brand-logo {
  height: 3rem;
  width: 3rem;
}

.brand-logo img {
  height: 100%;
  width: 100%;
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list {
  display: flex;
  list-style-type: none;
}

.nav-list-item {
  height: 100%;
  padding-right: 1rem;
}

.nav-list-item a {
  display: flex;
  align-items: center;
  padding-bottom: 4px;
  border-bottom: 5px var(--secondary-color) solid;
  text-decoration: none;
  color: var(--text-color);
}

.nav-list-item a:hover {
  border-bottom: 5px solid var(--text-color);
  color: var(--secondary-color);
}

/* //banner */

.featured, .post {
  cursor: pointer;
  border-radius: var(--thumbnail-radius);
  height: max-content;
  padding-bottom: .5rem;
  margin: .5rem .5rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.005), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.featured h1 {
  display: none;
}

.featured-post-thumbnail {
  width: 100%;
}

.featured-post-thumbnail img, .post-thumbnail img {
  border-top-left-radius: var(--thumbnail-radius);
  border-top-right-radius: var(--thumbnail-radius);
  width: 100%;
}

.featured-post-content {
  padding: 0 .5rem;
}

.featured-post-body article {
  margin-top: .3rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #888;
  margin-bottom: .5rem;
}

.featured-post-date, .post-date {
  color: #999;
}

.d-mobile {
  display: block;
}

.d-pc {
  display: none;
}

/* posts */

.posts {
  box-shadow: none;
  height: max-content;
  margin: .5rem .5rem;
}

.posts-container {
  display: grid;
  gap: .5rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  justify-content: center;
}

.post {
  width: 95%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.005), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  transition: .45s;
}

.post:hover {
  transition: .45s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}

.post:hover .post-title {
  transition: .45s;
  color: var(--secondary-color);
}

.post:active {
  transition: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.005), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.post-thumbnail {
  width: 100%;
}

.post-thumbnail img {
  aspect-ratio: 3/2;
  width: 100%;
}

.post-content {
  padding: .8rem;
}

.post-title h2 {
  font-size: 1.2rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.post-body article {
  margin-top: .3rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #888;
  margin-bottom: .5rem;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 3rem;
}

abbr {
  text-decoration: none;
  text-transform: none;
  cursor: pointer;
}

.end-credit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart {
  color: red;
}

.socials {
  color: var(--text-color) !important;
  margin-top: .5rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.social-item {
  margin-right: 1rem;
  cursor: pointer;
}

.social-item a {
  color: var(--text-color);
}

.social-item i:hover {
  color: var(--secondary-color);
}

/* //pages */

.post-wrapper {
  padding: 1rem 1rem;
}

.post-wrapper .post-date {
  text-align: center;
}

.page-post-thumbnail {
  width: 100%;
}

.page-post-title {
  text-align: center;
}

.page-post-title h1 {
  text-transform: uppercase;
  font-weight: bold;
}

.page-post-thumbnail img {
  width: 100%;
  border-radius: var(--thumbnail-radius);
}

.subnav {
  padding: 0 1rem;
  height: 3rem;
  display: flex;
  align-items: center;
}

.subnav .subnav-back span {
  display: flex;
  align-items: center;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .d-mobile {
    display: none;
  }
  .d-pc {
    display: block;
  }
  .nav {
    padding: 0 2rem;
  }
  /* banner */
  .featured h1 {
    display: block;
  }
  .featured {
    box-shadow: none;
    height: max-content;
    padding: 2rem 6rem;
  }
  .featured h1 {
    font-size: 2.5rem;
    font-weight: bold;
  }
  .featured-post {
    display: flex;
    margin-top: 2rem;
  }
  .featured-post-thumbnail {
    width: 72rem;
  }
  .featured-post-thumbnail img {
    border-radius: .5rem;
  }
  .featured-post-content {
    width: 100%;
    padding-left: 2rem;
  }
  .featured-post-date {
    color: #999;
  }
  .featured-post-title {
    margin: .5rem 0;
  }
  /* //posts */
  .post {
    max-width: 20rem;
  }
  .posts {
    box-shadow: none;
    height: max-content;
    padding: 2rem 6rem;
  }
  /* ///page */
  .post-wrapper {
    padding: 2rem 20rem;
  }
  .page-post-thumbnail {
    display: flex;
    justify-content: center;
  }
  .page-post-thumbnail img {
    width: 100%;
  }
  .page-post-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .subnav {
    padding: 0 3rem;
  }
  .subnav .subnav-back span {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}